extends ../template

block variables
  - var title = 'Прогноз погоды'

block content
  //- h1 Прогноз погоды
  .container
    .weather
      .weather__block
        .weather__title 
          button.weather__but Температура
        .weather__info
          select.chart.js-example-basic-multiple.weather__select(name="" multiple="multiple")
            option(value="Moscow") Moscow
            option(value="Novosibirsk") Novosibirsk
            option(value="London") London
            option(value="Dibai") Dibai
            option(value="Brest") Brest
        .weather__graf
          #chart
    .weather
      .weather__block
        .weather__title 
          button.weather__but Давление
        .weather__info
          select.pressure.js-example-basic-multiple.weather__select(name="" multiple="multiple")
            option(value="Moscow") Moscow
            option(value="Novosibirsk") Novosibirsk
            option(value="London") London
            option(value="Dibai") Dibai
            option(value="Brest") Brest
        .weather__graf
          #pressure
    .weather
      .weather__block
        .weather__title 
          button.weather__but Влажность
        .weather__info
          select.humidity.js-example-basic-multiple.weather__select(name="" multiple="multiple")
            option(value="Moscow") Moscow
            option(value="Novosibirsk") Novosibirsk
            option(value="London") London
            option(value="Dibai") Dibai
            option(value="Brest") Brest
        .weather__graf
          #humidity
    .weather
      .weather__block
        .weather__title 
          button.weather__but Ветер
        .weather__info
          select.wind.js-example-basic-multiple.weather__select(name="" multiple="multiple")
            option(value="Moscow") Moscow
            option(value="Novosibirsk") Novosibirsk
            option(value="London") London
            option(value="Dibai") Dibai
            option(value="Brest") Brest
        .weather__graf
          #wind



